
  <img class="img-responsive" style="width: 100%" src="assets/banner-2.PNG">

<!--<div ng-style="{'background-image': 'url(http://i.stack.imgur.com/mfvI9.jpg)'}"></div>-->
<!--<img ng-style="{'background-image': 'url(http://i.stack.imgur.com/mfvI9.jpg)'}">-->
<div class="container jumbotron" style="padding-top: 50px; padding-bottom: 40px;background-color: white;">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align: center;word-spacing: 8px">A MINIMAL ACTION GAME FOR ANDROID</h1>
      <p style="font-size: 20px; color: gray;word-wrap: normal" class="text-center">awesome Circle is challenge for your abilities.
         </p>
      <p style="font-size: 20px; color: gray;word-wrap: normal" class="text-center">do not blink and don't get distracted.</p>
      <p style="font-size: 20px; color: gray;word-wrap: normal" class="text-center">you have to survive for just 60 seconds.</p>
      <p style="font-size: 20px; color: gray;word-wrap: normal" class="text-center">can you do it?.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 style="text-align: center;word-spacing: 8px;color: red">WARNING</h3>
      <p style="font-size: 24px; color: gray;" class="text-center">You play at your own risk</p>
    </div>
  </div>
  <div class="row center-block">
    <div class="col-xs-2"></div>
    <div class="col-sm-4 col-xs-12">

      <a href="https://github.com/devkomarek/AwesomeCircle" target="_blank" style="font-size: 24px" class="text-center"><h3 style="text-align: center;word-spacing: 8px">Code available on GitHub</h3>
        <img class="img-responsive" style="display: block;margin: 0 auto" src="assets/Octocat.png">
      </a>

    </div>
    <div class="col-sm-4  col-xs-12">
      <h3 style="text-align: center">Powered by</h3>

      <img class="img-responsive" style="display: block;margin: 0 auto" src="assets/unity-logo-rgb.png">
    </div>
    <div class="col-xs-2"></div>
  </div>
  </div>

<div class="container-fluid" style="background-color: lightgray;padding-top: 20px;padding-bottom: 20px">
<div class="container">
  <div class="row" >
    <div class="col-xs-6 divSpace" >
      <h3 style="text-align: center;word-spacing: 8px">GAME IS AVAILABLE ON ANDROID</h3>
      <hr>
      <a href="https://goo.gl/BySLhR" target="_blank">
      <img  class="img-responsive" src="assets/google-play-badge.png">
    </a>
    </div>
    <div class="col-xs-6 divSpace" >
      <img class="img-responsive" style="display: block;margin: 0 auto;padding-top: 60px" src="assets/gameplay.png">
    </div>
  </div>
</div>
</div>
